<h1>Pinky's Pretty Perms!</h1>

<div class="container">
  <h4>Client List:</h4>
  
  <ul>
    <% @clients.each() do |client| %>
      <li><%= client.name() %> </li>
    <% end %>
  </ul>
</div>

  <h4>Add a New Client!</h4>
  <form action="/clients" method="post">
    <label for="name">Client Name</label>
    <input id="name" name="name" type="text">
    <button type="submit">Add</button>
